body {
font-family: Arial, sans-serif;
font-size: 20px;
}

.btn-adicionar{
margin: 5px 0;
padding: 10px;
width: calc(100% - 20px);
border-radius: 10px;
border: 1px solid #ddd;  
}

.btn-categoria {
background-color: #F2C2CF;
margin: 5px 0;
padding: 10px;
width: calc(100% - 20px);
border-radius: 10px;
border: 1px solid #ddd; 
}

.btn-enviarpromo {
margin: 5px 0;
padding: 10px;
width: calc(100% - 20px);
border-radius: 10px;
border: 1px solid #ddd; 
}

.btn-buscar, .btn-nova-anotacao, .btn-nova-tarefa {
  margin: 5px 0;
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 10px;
  border: 1px solid #ddd; 
}

button:hover {
background: #e694aa;
}

.navbar-custom {
background-color: #fee8f0;/*cor de fundo da navbar*/
}

/* cor do título navbar */
.navbar-color {
  color: #333;
}

img {
  margin:10px;
  width:75px;
  margin-left:10px;
}

.container-alt {/*configurações do container de anotações*/
max-width: 600px;
margin: auto;
background: rgba(255, 255, 255, 0.7);
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 15px #F5AAC8;
}
.checkbox-container {
  display: flex;
  margin-bottom: 2px;
  align-items: center;
  justify-content: flex-start; /* O mais importante para juntar os itens à esquerda */
  gap: 10px;     /* Adiciona um espaço abaixo de cada tarefa (opcional) */
}

h2 {
background: rgba(255, 182, 193, 0.5);
padding: 10px;
border-radius: 10px;
}

select, input {
margin: 5px 0;
padding: 10px;
width: calc(100% - 20px);
border-radius: 10px;
border: 1px solid #ddd;  
}

button {
background: #F2C2CF;
color: #333;
font-size: 16px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
font-size: 18px;
}


/* Estilo específico para o botão de sair */
.btn-sair {
background: #F2C2CF;
color: #333;
padding: 5px 10px;  /* Reduzi o padding */
font-size: 15px;   /* Aumentei um pouco o tamanho da fonte para ficar legível */
margin-left: 10px;  /* Ajuste a margem conforme necessário */
height: auto;      /* Garante que a altura seja automática */
width: auto;       /* Garante que a largura seja automática */
line-height: 1;    /* Melhora o alinhamento vertical do texto/ícone */
}

.btn-sair:hover {
background: #e694aa;
}

/* ícone de sair */
.btn-sair i { 
font-size: 15px;  
margin-right: 3px; /* Espaço entre ícone e texto */
}

.fc-daygrid-day-number {
  color: rgb(223, 87, 191); /* rosa por exemplo */
  font-weight: bold;
}
.fc-col-header-cell-cushion {
  color: rgb(223, 87, 191); /* mesma cor dos dias */
  font-weight: bold;
  text-transform: lowercase; /* se quiser deixar tudo minúsculo */
  text-decoration: none;     /* remove sublinhado se houver */
}
.note.important {
  border-left: 4px solid gold;
  background-color: #fff9c4;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #323232;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  opacity: 0.95;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 9999;
}
