:root {
  --primary-color: #F2C2CF;
  --primary-hover: #e694aa;
  --secondary-color: #fee8f0;
  --accent-color: #F5AAC8;
  --text-color: #333;
  --light-bg: rgba(255, 255, 255, 0.9);
  --important-color: #fff9c4;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: var(--text-color);
  /*font-size: 20px;*/
  padding-bottom: 20px;
}

.navbar-custom {
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
  font-weight: bold;
  color: var(--text-color) !important;
}

/* cor do título navbar */
.navbar-color {
  color: var(--text-color);
}

.nav-link {
  color: var(--text-color) !important;
  transition: all 0.3s;
}

.nav-link:hover, .nav-link.active {
  color: var(--accent-color) !important;
  transform: translateY(-2px);
}

img {
  margin:10px;
  width:75px;
  margin-left:10px;
}

.container-alt {
  max-width: 600px;
  margin: auto;
  background: var(--light-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--accent-color);
}

form {
  background: white;
  color: var(--text-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  margin: 5px 0;
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 10px;
  border: 1px solid #ddd;  
}

button {
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-top: 15px;
}

button:hover {
  background: var(--primary-hover);
}

/* Estilo específico para o botão de sair */
.btn-sair {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 5px 10px;  /* Reduzi o padding */
  font-size: 15px;   /* Aumentei um pouco o tamanho da fonte para ficar legível */
  margin-left: 10px;  /* Ajuste a margem conforme necessário */
  height: auto;      /* Garante que a altura seja automática */
  width: auto;       /* Garante que a largura seja automática */
  line-height: 1;    /* Melhora o alinhamento vertical do texto/ícone */
}

.btn-sair:hover {
  background:  var(--primary-hover);
}

/* ícone de sair */
.btn-sair i { 
  font-size: 15px;  
  margin-right: 3px; /* Espaço entre ícone e texto */
}


 